<!DOCTYPE html>
<html>
  <head>
    <title>OpentokApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# devise view template %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- opentok -->
     <script src="https://static.opentok.com/v2/js/opentok.min.js"></script> 
  </head>

  <body>
    <div class='scope-user'>
      <% if user_signed_in? %>
        <p>Hello <%= current_user.email %></p>
        <%# check if current_user is an admin %>
        <p>Admin user: <%= current_user.has_role? :admin %></p>
        <%# check roles of the current_user %>
        <%= current_user.roles.pluck(:name) %>
        <%= button_to 'logout', destroy_user_session_url, method: :delete %>
      <% else %>
        <%= link_to 'sign up', new_user_registration_url %>
        <%= link_to 'sign in', new_user_session_url %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
